.dinosaur-container {
    position: relative;
    width: fit-content;  /* Adjust as needed */
}

.dinosaur-image {
    display: block;
    width: auto;
    height: auto;
    filter: hue-rotate(110deg) drop-shadow(5px 5px 5px #000000); /* Combine filters */
}


